Repository kurosakiaduma/phylo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: enhance Makefile with backend-run and backend-smoke targets for improved backend management
  Makefile
Due: none

feat(api): add tree and user profile management endpoints
  apps/backend/api/__init__.py
  apps/backend/api/auth.py
  apps/backend/api/examples.py
  apps/backend/api/invites.py
  apps/backend/api/main.py
  apps/backend/api/members.py
  apps/backend/api/memberships.py
  apps/backend/api/relationships.py
  apps/backend/api/trees.py
  apps/backend/api/users.py
  apps/backend/db.py
Due: none

ci: feat: monorepo update
  apps/frontend/design.md
  apps/frontend/requirements.md
  package.json
Due: prettier --write

feat(api): implement avatar upload and synchronization for members and users
  apps/backend/api/avatars.py
  apps/backend/api/invites.py
  apps/backend/api/main.py
  apps/backend/api/members.py
  apps/backend/api/relationships.py
  apps/backend/api/users.py
Due: none

feat(migrations): add initial migration and enhance user/member models, events, and gallery support
  apps/backend/alembic.ini
  apps/backend/migrations/README
  apps/backend/migrations/env.py
  apps/backend/migrations/script.py.mako
  apps/backend/migrations/versions/20251002_084218_add_user_avatar_url.py
  apps/backend/migrations/versions/20251002_095000_enhance_models_demographics_events_gallery.py
  apps/backend/migrations/versions/92f6e9468cb4_initial_migration_create_all_tables.py
  apps/backend/migrations/versions/996fe3ad69c3_add_composite_indexes_to_memberships_.py
Due: none

docs: add deployment configuration and backup scripts
  DEVELOPMENT.md
  backups/.gitignore
  backups/README.md
  backups/backup_docker.fish
  backups/backup_local.fish
  backups/restore_to_docker.fish
  backups/restore_to_local.fish
  nginx-phylo.conf
Due: prettier --write

feat: disable ESLint and TypeScript checking during build
  apps/backend/requirements.txt
  apps/frontend/family-tree/next.config.js
  apps/frontend/family-tree/package.json
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation errors
  apps/frontend/family-tree/src/components/TreeEdges.tsx
  apps/frontend/family-tree/src/components/auth/auth-modal.tsx
Due: eslint --fix, prettier --write

cleanup: remove old pages directory
  apps/frontend/family-tree/src/app/(dashboard)/notifications/page.tsx
  apps/frontend/family-tree/src/app/(dashboard)/profile/page.tsx
  apps/frontend/family-tree/src/app/(dashboard)/settings/page.tsx
  apps/frontend/family-tree/src/app/events/page.tsx
  apps/frontend/family-tree/src/app/gallery/page.tsx
  apps/frontend/family-tree/src/app/invites/[token]/page.tsx
  apps/frontend/family-tree/src/app/not-found.tsx
  apps/frontend/family-tree/src/app/page.tsx
  apps/frontend/family-tree/src/app/roadmap/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/events/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/gallery/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/members/[memberId]/edit/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/members/new/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/members/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/page.tsx
  apps/frontend/family-tree/src/app/trees/[id]/settings/page.tsx
  apps/frontend/family-tree/src/app/trees/new/page.tsx
  apps/frontend/family-tree/src/app/trees/page.tsx
  apps/frontend/family-tree/src/components/AddMemberDialog.tsx
  apps/frontend/family-tree/src/components/EditMemberDialog.tsx
  apps/frontend/family-tree/src/components/GeneticParticles.tsx
  apps/frontend/family-tree/src/components/MemberDrawer.tsx
  apps/frontend/family-tree/src/components/PhylogeneticBackground.tsx
  apps/frontend/family-tree/src/components/RelationshipAnalyzer.tsx
  apps/frontend/family-tree/src/components/SearchMember.tsx
  apps/frontend/family-tree/src/components/SendInviteDialog.tsx
  apps/frontend/family-tree/src/components/ui/textarea.tsx
  apps/frontend/family-tree/src/models/FamilyTree.ts
  apps/frontend/family-tree/src/pages.old/_app.tsx
  apps/frontend/family-tree/src/pages.old/_document.tsx
  apps/frontend/family-tree/src/pages.old/index.tsx
Due: eslint --fix, prettier --write

chore: update .gitignore to exclude documentation and temporary files
  .gitignore
Due: none

chore: ignore considerations.txt file with spaces in filename
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,jsx}
  prettier --write: (any of: *.{js,ts,tsx,jsx}) or (any of: *.{md,json,css,scss,mdx})
